.mealList{
    left:18%;
    background: whitesmoke;
    margin-top:20px;
    top: 350px;
    padding:10px 4px;
    width:60%;
    height:fit-content;
    position:absolute;
    text-align: left;
    border-radius: 15px;
    border:1px transparent black;
    text-align: left;
    margin-bottom: 30px;
    justify-content:space-evenly;
    box-shadow: 3px 3px 3px 6px #575656;
    box-sizing: border-box;
    z-index: 10;
}